@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;500;700;900&family=Open+Sans:wght@300;700;800&family=Quicksand:wght@300;400;500;700&family=Roboto:ital,wght@0,100;0,500;1,300&display=swap");
@import url(./responsive.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./cartSidebar.css);
:root {
  --primary-color: #8b572a;
}
h1 {
  color: var(--primary-color);
  font-weight: 700;
  line-height: 1.2;
  font-size: 30px;
  margin: 20px 0px 40px 10px;
  text-transform: uppercase;
}
.history{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.image-mini .mini-item {
  display: none;
}
.link > ul {
  list-style-type: none;
  padding: 0;
}
.link i {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 12px;
  bottom: 0;
  margin: auto;
  border: 1px solid transparent;
}
.link li {
  border-bottom: 1px dotted gray;
  padding: 10px 0;
}
.link a {
  font-weight: 500;
  font-size: 15px;
  color: #000000;
  padding: 12px 0;
}
.link li:nth-child(2) {
  position: relative;
}
.link-page{
  margin-top: 20px;
}
a:hover {
  color: black;
}
.link-page h2{
  color: #8b572a;
  font-weight: 700;
  line-height: 1.2;
}

.submenu-link li {
  list-style-type: none;
  border: none;
  font-size: 13px;
  display: none;
}
.fa-caret-down{
  margin-left: 10px;
  opacity: 0.5;
}

.image-store img {
  width: 100%;
  object-fit: cover;
}
.list-unstyled li{
  border-bottom: 1px dashed gray;
  margin: 15px 0;
  font-weight: 500;
}
.intro-content iframe {
  margin: auto;
}
.payment-methods > li {
  list-style-type: upper-roman;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20;
  margin: 10px 0;
}
.intro-content li > ul > li {
    list-style-type: decimal;
    font-weight: 200;
    font-size: 14px;
    padding-top: 10px ;
    text-transform: none;
}
.intro-content li > ul{
  padding-left: 0;
}
.image-store{
  transform: translate(0%, 0%);
  display: block;
}
.image-store img{
  object-fit: cover;
  box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
  display: block;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: -10px;
}
.image-store:hover img{
  box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
}
.image-store .glow-wrap{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: -10px;
}
.image-store .glow{
  display: block;
  position:absolute;
  width: 40%;
  height: 200%;
  background: rgba(255,255,255,.2);
  top: 0;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.image-store:hover .glow{
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.image-store:hover img,
.image-store:hover .glow-wrap{
  margin-top: 0;
}
@media (max-width:990px) {
  .menu-icon {
    display: inline-block;
}
}
@media (max-width:567px) {
  iframe{
    height: 250px;
  }
  .history iframe{
    height: 200px;
  }
}