@import url(./CustomBootstrap.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./card.css);
@import url(./responsive.css);
@import url(./cartSidebar.css);
.image-mini .mini-item {
  display: none;
}

.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  z-index: 1;
  margin: 0 12px;
  border-radius: 50%;
}
.slick-arrow:hover {
  background-color: gray;
  color: white;
}
.slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 10px);
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
  list-style-type: none;
}
.slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 100rem;
  background-color: gray;
  border: none;
  outline: none;
  transition: all 0.2s linear;
}
.slick-dots .slick-active button {
  background-color: #111;
}
.image .sp {
  display: none;
}
.daily {
  padding-bottom: 75px;
}
.daily h2 {
  text-transform: uppercase;
  font-size: 16px;
  margin: 15px 0 8px 10px;
  color: #8b572a;
  font-weight: 700;
  line-height: 1.2;
}
.daily-title h3 {
  padding: 10px 10px 0px 10px;
  font-weight: 600;
  font-size: 17px;
  color: #4a4a4a;
}
.daily-content p {
  font-size: 13px;
  padding: 0px 10px;
  color: #000000;
  margin: 0;
  width: 237px;
}
.daily .daily-card {
  border: 2px solid gray;
  border-radius: 7px;
  height: 100%;
}
.daily-copyright {
  text-align: right;
  padding: 10px;
}
.suggest-image {
  padding-bottom: 30px;
}
.daily-copyright button {
  background: rgba(0, 0, 0, 0.05);
  color: #4a4a4a;
  border: 1px solid 0, 0.08;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  margin-top: 5px;
  padding: 2px 10px 3px;
  border-radius: 15px;
  letter-spacing: -0.25px;
  min-width: 100px;
  outline: none;
}

.popup-coupon {
  /* position: fixed;
  z-index: 99;
  left: 400px;
  margin: auto;
  top: -550px;
  transition: all 0.5s ease; */
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 0.5s ease; 
  z-index: 99;

}
.cancel-popup {
  position: absolute;
  z-index: 99;
  /* left: 930px; */
  right: 409px;
  top: -90px;
  border: 3px solid white;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 30px;
}
.minus-sidebar, .plus-sidebar {
  cursor: pointer;
}
.btn-minus-count, .btn-plus-count {
  cursor: pointer;
  background-color: #ddd;
}
.suggest {
  background-color: #f5f5f5;
}
.suggest h2 {
  color: #4a4a4a;
  font-size: 24px;
  font-weight: 700;
  padding: 30px 0;
}
.suggest-item {
  margin: 0 10px;
}
.more-btn {
  border: 1px solid gray;
  background-color: #8b572a;
  color: white;
  font-weight: 700;
  width: 200px;
  line-height: 40px;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 1;
  transition: 0.5s;
  font-size: 12px;
}
.more-btn a{
  color: white;
}
.more-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: black;
}
.btn2:before {
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: width 0.25s linear;
}
.btn2:hover:before {
  width: 100%;
}
.btn2:hover a {
  color: white;
}
#myBtn{
  position: fixed;
  display: none;
  border: none;
  background: transparent;
  position: fixed;
  bottom: 50px;
  right:-55px;
  width: 140px;
}

.button-backtop {
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-radius: 50%;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 2px 8px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-backtop:not(:disabled):hover {
  transform: scale(1.05);
}

.button-backtop:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-backtop:focus {
  outline: 0 solid transparent;
}

.button-backtop:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-backtop:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-backtop:focus:not(:focus-visible):before {
  border-width: 0;
}

.button-backtop:not(:disabled):active {
  transform: translateY(.125rem);
}
/* .open{
  display: block;
} */

.rotate {
  transform: rotate(270deg);
  font-size: 12px;
  color: #1c1c1c;
}

/* SOCIAL PANEL CSS */
.social-panel-container {
	position: fixed;
	right: 0;
  z-index: 5;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}

.social-panel {	
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	border: 5px solid #001F61;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;
	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
	border: 0;
	color: #97A5CE;
	cursor: pointer;
	font-size: 20px;
  background: transparent;
	position: absolute;
	top: -3px;
	right: 5px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: #001F61;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
	margin: 0 5px;
}

.social-panel p a {
	color: #FF7500;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;
	color: #97A5CE;	
	font-family: 'Muli';	
	font-size: 14px;	
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a {
	border: 1px solid #DCE1F2;
	border-radius: 50%;
	color: #001F61;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: gray;
	border:none;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 30px;
	right: 25px;
	z-index: 5;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
  border: 1px solid grey;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}


@media (max-width: 990px) {
  .image-item .image {
    margin-top: 10px;
  }
  .image-mini .mini-item {
    display: block;
  }
  #header .header-logo {
    margin: 0 15px;
  }
}
@media (max-width: 768px) {
  .open {
    width: 0;
  }
  .footer-item {
    margin-bottom: 50px;
  }
}
@media (max-width: 567px) {
  .image .pc-tablet {
    display: none;
  }
  .image .sp {
    display: block;
  }
  .suggest-image img {
    margin: 0 auto;
  }
}
@media (max-width:420px) {
  .floating-btn{
    display: none;
  }
  .rotate{
    opacity: 0.4;
  }
}
/* Test cart */



